.calcu {
	user-select: none;
}

.calcu h1 {
	width: max-content;
	position: absolute;
	margin: 0;
}

.calcu .calculator {
	display: block;
	width: 995px;
	height: 476px;
	margin: auto auto auto auto;
	margin: calc(50vh - 235px) auto 0 auto;
	border-radius: 4px;
	background-color: #333;
	background-image: linear-gradient(90deg, #e6ebee, #f0f0f0);
	box-shadow: 0px 0px 0px 0px #b1b8c0 inset,
		0px -10px 10px 10px #b1b8c0 inset,
		0px 1px 0px 2px #b1b8c0 inset,
		0 55px 10px -25px rgba(0, 0, 0, 0.1),
		0 65px 30px -10px rgba(0, 0, 0, 0.5);
	z-index: 1;
	border-radius: 10px;
}

.calcu .out {
	display: block;
	background-color: transparent;
	margin: -6px auto auto 10px;
	border-radius: 5px;
	width: 965px;
	height: 490px;
	position: absolute;
	background-color: #333;
	z-index: -1;
}

.calcu .lcdBorder {
	display: block;
	z-index: 1;
	background-color: #222816;
	width: 760px;
	height: 105px;
	position: absolute;
	margin: 30px auto auto 30px;
	border-radius: 3px;
	box-shadow: 0 5px 20px .05px #130f0a inset,
		5px 0 10px -4px #130f0a inset,
		-0.5px 0 3px 1px #130f0a inset,
		0 0 0 2px rgba(0, 0, 0, 1),
		0 65px 50px -10px rgba(0, 0, 0, -0.05);
}

.calcu .lcd {
	display: block;
	z-index: 2;
	background-color: #99a883;
	width: 700px;
	height: 60px;
	position: absolute;
	margin: 50px auto auto 60px;
	border-radius: 3px;
	box-shadow: 0 5px 20px .05px #130f0a inset,
		5px 0 10px -4px #130f0a inset,
		-0.5px 0 3px 1px #130f0a inset,
		0 0 0 2px rgba(0, 0, 0, 1),
		0 65px 50px -10px rgba(0, 0, 0, -0.05);
}

.calcu .lcd p {
	font-family: "Orbitron", sans-serif;
	display: inline-block;
	opacity: .5;
	font-size: .7em;
	margin-top: 0;
}

.calcu .lcd p:nth-child(1) {
	margin-left: 60px;
}

.calcu .lcd p:nth-child(2) {
	margin-left: 40px;
}

.calcu .lcd p:nth-child(3) {
	margin-left: 10px;
}

.calcu .lcd p:nth-child(4) {
	margin-left: 80px;
}

.calcu .lcd p:nth-child(5) {
	margin-left: 70px;
}

.calcu .lcd p:nth-child(6) {
	margin-left: 85px;
}

.calcu .lcd p:nth-child(7) {
	margin-left: 25px;
}

.calcu .lcd row {
	position: absolute;
	display: block;
	white-space: pre;
	width: max-content;
	opacity: .5;
	font-family: Casio, monospace;
	font-size: 30px;
	margin-top: -9px;
	margin-left: 10px;
}

.calcu .lcd row tile {
	display: inline-block;
	width: 25px;
}

.calcu .lcd row:last-child tile {
	width: 17px;
}

.calcu .lcd row:last-child {
	font-size: 36px;
	font-family: Digital7;
	font-style: italic;
	margin-left: 610px;
	margin-right: 10px;
	margin-top: -16px;
}

.calcu .onoff {
	display: block;
	z-index: 2;
	background-color: black;
	width: 60px;
	height: 30px;
	position: absolute;
	margin: 30px auto auto 860px;
	border-radius: 3px;
	box-shadow: 0 5px 20px .05px #130f0a inset,
		5px 0 10px -4px #130f0a inset,
		-0.5px 0 3px 1px #130f0a inset,
		0 0 0 2px rgba(0, 0, 0, 1),
		0 65px 50px -10px rgba(0, 0, 0, -0.05);
}

.calcu .onoffin {
	display: block;
	z-index: 3;
	background-color: black;
	width: 30px;
	height: 25px;
	position: absolute;
	margin: 30px auto auto 880px;
	box-shadow: 3px 3px 3px 0 #102027 inset,
		3px 5px 3px -5px #aeaeae inset,
		3px 3px 0 1px #102027 inset,
		10px 10px 5px 2px rgba(0, 0, 0, .7),
		3px 3px 4px 3px rgba(0, 0, 0, 4),
		0 0 50px -10px rgba(0, 0, 0, -0.05);
}

.calcu .onoffinline1 {
	display: block;
	z-index: 3;
	background-color: #333;
	width: 1.5px;
	height: 30px;
	position: absolute;
	margin: 30px auto auto 885px;
}

.calcu .onoffinline2 {
	display: block;
	z-index: 3;
	background-color: #333;
	width: 1.5px;
	height: 30px;
	position: absolute;
	margin: 30px auto auto 890px;
}

.calcu .onoffinline3 {
	display: block;
	z-index: 3;
	background-color: #333;
	width: 1.5px;
	height: 30px;
	position: absolute;
	margin: 30px auto auto 895px;
}

.calcu .onoffinline4 {
	display: block;
	z-index: 3;
	background-color: #333;
	width: 1.5px;
	height: 30px;
	position: absolute;
	margin: 30px auto auto 900px;
}

.calcu .onoffinline5 {
	display: block;
	z-index: 3;
	background-color: #333;
	width: 1.5px;
	height: 30px;
	position: absolute;
	margin: 30px auto auto 905px
}

.calcu .casio {
	display: block;
	background-color: transparent;
	position: relative;
	right: 20px;
	top: 50px;
	direction: rtl;
	z-index: 2;
}

.calcu .logo {
	font-family: sans-serif;
	font-size: .8em;
	font-weight: 20px;
	margin-bottom: 0;
}

.calcu .model {
	font-family: "Audiowide", sans-serif;
	color: #a31746;
	font-weight: 500;
	font-size: 0.5em;
	margin-top: 0;
}

.calcu .type {
	font-family: sans-serif;
	font-size: 0.25em;
	letter-spacing: 1px;
	margin-bottom: 4px;
	margin-top: 2px;
}

.calcu .horizmain {
	display: block;
	background-color: #3333;
	margin: 155px auto auto auto;
	width: 995px;
	height: 2px;
	position: absolute;
	z-index: 4;
}

.calcu #keys div {
	display: block;
	position: absolute;
	width: 50px;
	height: 30px;
	border-radius: 3px;
	/* z-index: 2; */
}

.calcu #keys div:active {
	height: 28px;
}

.calcu #keys div:active p {
	transform: translate(-2px, -2px) scale(.96);
}

.calcu .white {
	background-color: #edf1ff;
	box-shadow: 2px 2px 3px 0 #c7c7c7 inset,
		5px 5px 3px -1px #aeaeae inset,
		2px 2px 0 2px #c7c7c7 inset,
		0 0 0px 3px rgba(0, 0, 0, 4),
		3px 3px 4px 3px rgba(0, 0, 0, 4),
		0 0 50px -10px rgba(0, 0, 0, -0.05);
}

.calcu .white:active {
	box-shadow:
		2px 2px 3px -1px #aeaeae inset,
		0 0 0px 3px rgba(0, 0, 0, 4),
		3px 3px 4px .5px rgba(0, 0, 0, 4),
		0 0 50px -10px rgba(0, 0, 0, -0.05);
}

.calcu .gray {
	background-color: #c8d1d2;
	box-shadow: 2px 2px 3px 0 #707070 inset,
		5px 5px 3px -1px #aeaeae inset,
		2px 2px 0 2px #102027 inset,
		0 0 0px 3px rgba(0, 0, 0, 4),
		3px 3px 4px 3px rgba(0, 0, 0, 4),
		0 0 50px -10px rgba(0, 0, 0, -0.05);
}

.calcu .gray:active {
	box-shadow:
		2px 2px 3px -1px #aeaeae inset,
		0 0 0px 3px rgba(0, 0, 0, 4),
		3px 3px 4px 0px rgba(0, 0, 0, 4),
		0 0 50px -10px rgba(0, 0, 0, -0.05);
}

.calcu .black {
	background-color: black;
	box-shadow: 3px 3px 3px 0 #102027 inset,
		3px 5px 3px -5px #aeaeae inset,
		3px 3px 0 1px #102027 inset,
		0 0 0px 3px rgba(0, 0, 0, 4),
		3px 3px 4px 3px rgba(0, 0, 0, 4),
		0 0 50px -10px rgba(0, 0, 0, -0.05);
}

.calcu .black:active {
	box-shadow:
		2px 2px 3px -5px #aeaeae inset,
		0 0 0px 3px rgba(0, 0, 0, 4),
		3px 3px 4px 0px rgba(0, 0, 0, 4),
		0 0 50px -10px rgba(0, 0, 0, -0.05);
}

.calcu .dark {
	background-color: #333;
	box-shadow: 3px 3px 3px 0 #333 inset,
		3px 5px 3px -5px #aeaeae inset,
		3px 3px 0 1px #4f5b62 inset,
		0 0 0px 3px rgba(0, 0, 0, 4),
		3px 3px 4px 3px rgba(0, 0, 0, 4),
		0 0 50px -10px rgba(0, 0, 0, -0.05);
}

.calcu .dark:active {
	box-shadow:
		2px 2px 3px -5px #aeaeae inset,
		0 0 0px 3px rgba(0, 0, 0, 4),
		3px 3px 4px 0px rgba(0, 0, 0, 4),
		0 0 50px -10px rgba(0, 0, 0, -0.05);
}

.calcu .orange {
	background-color: #d84315;
	box-shadow: 3px 3px 3px 0 #b91400 inset,
		3px 5px 3px -5px #aeaeae inset,
		3px 3px 0 1px #b91400 inset,
		0 0 0px 3px rgba(0, 0, 0, 4),
		3px 3px 4px 3px rgba(0, 0, 0, 4),
		0 0 50px -10px rgba(0, 0, 0, -0.05);
}

.calcu .orange:active {
	box-shadow:
		2px 2px 3px -5px #aeaeae inset,
		0 0 0px 3px rgba(0, 0, 0, 4),
		3px 3px 4px 0px rgba(0, 0, 0, 4),
		0 0 50px -10px rgba(0, 0, 0, -0.05);
}

.calcu .white p {
	font-family: "Audiowide", sans-serif;
	color: #a31545;
	margin: 10px auto auto 5px;
	text-align: center;
	font-weight: 700;
}

.calcu .gray p,
.calcu .dark p,
.calcu .black p,
.calcu .orange p {
	color: white;
	font-family: "Archivo Narrow", sans-serif;
	margin: auto;
	padding: 7px 0;
	text-align: center;
	font-size: 1.2em;
	font-weight: 700;
}

.calcu .gray p {
	color: black;
}

.calcu .black p {
	font-size: .9em;
}

.calcu #keys div:nth-child(2) p {
	color: #007bb2;
}

.calcu #keys div:nth-child(3) p {
	font-family: "Balsamiq Sans", cursive;
	font-size: .9em;
	font-weight: 100;
}

.calcu #keys div:nth-child(4) p {}

.calcu #keys div:nth-child(5) p {}

.calcu #keys div:nth-child(4) p, .calcu #keys div:nth-child(6) p, .calcu #keys div:nth-child(7) p {
	font-family: math;
	font-size: 1.5em;
	margin-top: -6px;
}

.calcu #keys div:nth-child(1) {
	margin: 180px auto auto 30px;
}

.calcu #keys div:nth-child(2) {
	margin: 180px auto auto 102px;
}

.calcu #keys div:nth-child(3) {
	margin: 180px auto auto 174px;
}

.calcu #keys div:nth-child(4) {
	margin: 180px auto auto 246px;
}

.calcu #keys div:nth-child(5) {
	margin: 180px auto auto 318px;
}

.calcu #keys div:nth-child(6) {
	margin: 180px auto auto 390px;
}

.calcu #keys div:nth-child(7) {
	margin: 180px auto auto 462px;
}

.calcu #keys div:nth-child(8) {
	margin: 240px auto auto 30px;
}

.calcu #keys div:nth-child(9) {
	margin: 240px auto auto 102px;
}

.calcu #keys div:nth-child(10) {
	margin: 240px auto auto 174px;
}

.calcu #keys div:nth-child(11) {
	margin: 240px auto auto 246px;
}

.calcu #keys div:nth-child(12) {
	margin: 240px auto auto 318px;
}

.calcu #keys div:nth-child(13) {
	margin: 240px auto auto 390px;
}

.calcu #keys div:nth-child(14) {
	margin: 240px auto auto 462px;
}

.calcu #keys div:nth-child(15) {
	margin: 300px auto auto 30px;
}

.calcu #keys div:nth-child(16) {
	margin: 300px auto auto 102px;
}

.calcu #keys div:nth-child(17) {
	margin: 300px auto auto 174px;
}

.calcu #keys div:nth-child(18) {
	margin: 300px auto auto 246px;
}

.calcu #keys div:nth-child(19) {
	margin: 300px auto auto 318px;
}

.calcu #keys div:nth-child(20) {
	margin: 300px auto auto 390px;
}

.calcu #keys div:nth-child(21) {
	margin: 300px auto auto 462px;
}

.calcu #keys div:nth-child(22) {
	margin: 360px auto auto 30px;
}

.calcu #keys div:nth-child(23) {
	margin: 360px auto auto 102px;
}

.calcu #keys div:nth-child(24) {
	margin: 360px auto auto 174px;
}

.calcu #keys div:nth-child(25) {
	margin: 360px auto auto 246px;
}

.calcu #keys div:nth-child(26) {
	margin: 360px auto auto 318px;
}

.calcu #keys div:nth-child(27) {
	margin: 360px auto auto 390px;
}

.calcu #keys div:nth-child(28) {
	margin: 360px auto auto 462px;
}

.calcu #keys div:nth-child(29) {
	margin: 420px auto auto 30px;
}

.calcu #keys div:nth-child(30) {
	margin: 420px auto auto 102px;
}

.calcu #keys div:nth-child(31) {
	margin: 420px auto auto 174px;
}

.calcu #keys div:nth-child(32) {
	margin: 420px auto auto 246px;
}

.calcu #keys div:nth-child(33) {
	margin: 420px auto auto 318px;
}

.calcu #keys div:nth-child(34) {
	margin: 420px auto auto 390px;
}

.calcu #keys div:nth-child(35) {
	margin: 420px auto auto 462px;
}

.calcu #keys div:nth-child(36) {
	margin: 180px auto auto 550px;
}

.calcu #keys div:nth-child(37) {
	margin: 180px auto auto 622px;
}

.calcu #keys div:nth-child(38) {
	margin: 180px auto auto 694px;
}

.calcu #keys div:nth-child(39) {
	margin: 180px auto auto 766px;
}

.calcu #keys div:nth-child(40) {
	margin: 180px auto auto 838px;
}

.calcu #keys div:nth-child(41) {
	margin: 180px auto auto 910px;
}

.calcu #keys div:nth-child(42) {
	margin: 240px auto auto 550px;
}

.calcu #keys div:nth-child(43) {
	margin: 240px auto auto 622px;
}

.calcu #keys div:nth-child(44) {
	margin: 240px auto auto 694px;
}

.calcu #keys div:nth-child(45) {
	margin: 240px auto auto 766px;
}

.calcu #keys div:nth-child(46) {
	margin: 240px auto auto 838px;
}

.calcu #keys div:nth-child(47) {
	margin: 240px auto auto 910px;
}

.calcu #keys div:nth-child(48) {
	margin: 300px auto auto 550px;
}

.calcu #keys div:nth-child(49) {
	margin: 300px auto auto 622px;
}

.calcu #keys div:nth-child(50) {
	margin: 300px auto auto 694px;
}

.calcu #keys div:nth-child(51) {
	margin: 300px auto auto 766px;
}

.calcu #keys div:nth-child(52) {
	margin: 300px auto auto 838px;
}

.calcu #keys div:nth-child(53) {
	margin: 300px auto auto 910px;
}

.calcu #keys div:nth-child(54) {
	margin: 360px auto auto 550px;
}

.calcu #keys div:nth-child(55) {
	margin: 360px auto auto 622px;
}

.calcu #keys div:nth-child(56) {
	margin: 360px auto auto 694px;
}

.calcu #keys div:nth-child(57) {
	margin: 360px auto auto 766px;
}

.calcu #keys div:nth-child(58) {
	margin: 360px auto auto 838px;
}

.calcu #keys div:nth-child(59) {
	margin: 360px auto auto 910px;
}

.calcu #keys div:nth-child(60) {
	margin: 420px auto auto 550px;
}

.calcu #keys div:nth-child(61) {
	margin: 420px auto auto 622px;
}

.calcu #keys div:nth-child(62) {
	margin: 420px auto auto 694px;
}

.calcu #keys div:nth-child(63) {
	margin: 420px auto auto 766px;
}

.calcu #keys div:nth-child(64) {
	margin: 420px auto auto 838px;
}

.calcu #keys div:nth-child(65) {
	margin: 420px auto auto 910px;
}

.calcu .vertline {
	display: block;
	background-color: #3336;
	margin: 165px auto auto 530px;
	width: 2px;
	height: 300px;
	position: absolute;
	z-index: 4;
}

.calcu .horzlinewhite1 {
	display: block;
	background-color: #3333;
	margin: 225px auto auto 15px;
	width: 510px;
	height: 2px;
	position: absolute;
	z-index: 4;
}

.calcu .horzlinewhite2 {
	display: block;
	background-color: #3333;
	margin: 285px auto auto 15px;
	width: 510px;
	height: 2px;
	position: absolute;
	z-index: 4;
}

.calcu .horzlinewhite3 {
	display: block;
	background-color: #3333;
	margin: 345px auto auto 15px;
	width: 510px;
	height: 2px;
	position: absolute;
	z-index: 4;
}

.calcu .horzlinewhite4 {
	display: block;
	background-color: #3333;
	margin: 405px auto auto 15px;
	width: 510px;
	height: 2px;
	position: absolute;
	z-index: 4;
}

.calcu .horzlineblack1 {
	display: block;
	background-color: #3333;
	margin: 225px auto auto 538px;
	width: 440px;
	height: 2px;
	position: absolute;
	z-index: 4;
}

.calcu .horzlineblack2 {
	display: block;
	background-color: #3333;
	margin: 285px auto auto 538px;
	width: 440px;
	height: 2px;
	position: absolute;
	z-index: 4;
}

.calcu .horzlineblack3 {
	display: block;
	background-color: #3333;
	margin: 345px auto auto 538px;
	width: 440px;
	height: 2px;
	position: absolute;
	z-index: 4;
}

.horzlineblack4 {
	display: block;
	background-color: #3333;
	margin: 405px auto auto 538px;
	width: 440px;
	height: 2px;
	position: absolute;
	z-index: 4;
}
