body {
	margin: 0;
	padding: 0;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
	::-webkit-scrollbar {
		display: none !important;
	}
}

* {
	scrollbar-width: none !important;
}

#p5_loading {
	display: none;
}

@font-face {
	font-family: Casio;
	src: url("../fonts/casio-fx-9860gii.ttf");
}

@font-face {
	font-family: Digital7;
	src: url("../fonts/Digital7.woff2");
}

@font-face {
	font-family: C64;
	src: url("../fonts/C64_Pro_Mono-STYLE.woff2");
}

@font-face {
	font-family: Apple2;
	src: url("../fonts/Apple2.ttf");
}

@font-face {
	font-family: FSEX302;
	src: url("../fonts/FSEX302.ttf");
}

@font-face {
	font-family: VT323;
	src: url("../fonts/VT323-Regular.ttf");
}

@font-face {
	font-family: 'Orbitron';
	font-style: normal;
	font-weight: 400;
	font-display: swap;
	src: url("../fonts/Orbitron.woff") format('woff');
	unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

row {
	padding: 0;
	margin: 0;
}

#screen0 {
	margin: 0 auto;
	user-select: none;
}

.lvl07 #screen0 {
	display: contents;
}

.screen {
	font-size: 16px;
	font-family: monospace;
}

.lvl00 .screen {
	font-family: Casio, monospace;
}

.lvl01 .screen {
	font-family: C64, monospace;
}

.lvl05 .screen {
	font-family: C64, monospace;
	font-size: 17.19px;
	position: absolute;
	z-index: 1;
}

.lvl05 .terminal #screen0 {
	margin-top: 0;
}

.lvl02 .screen {
	font-size: 19px;
	font-family: Apple2, monospace;
}

.lvl03 .screen,
.lvl04 .screen {
	font-size: 18px;
	font-family: VT323, monospace;
}

.lvl07 .screen {
	font-family: "VT323", monospace;
}

.terminal tile {
	float: left;
	text-align: center;
}

.lvl01 tile {
	width: 16px;
	height: 16px;
}

.lvl05 tile {
	width: 17.19px;
	height: 17.19px;
}

.lvl02 tile {
	width: 16px;
	height: 19px;
}

.lvl03 tile,
.lvl04 tile,
.lvl07 tile {
	width: 11px;
	height: 19px;
}

.hovered {
	cursor: pointer;
}

.lvl01 .hovered,
.lvl05 .hovered {
	color: black;
	background-color: #eee;
}

.lvl02 .hovered {
	color: black;
	background-color: #55C055;
}

.lvl03 .hovered,
.lvl04 .hovered,
.lvl03 tile:hover,
.lvl04 tile:hover {
	color: black;
	background-color: #E5B92E;
}

.lvl01 #screen0 {
	filter: drop-shadow(0 0 10px #eee);
}

.lvl02 #screen0 {
	filter: drop-shadow(0 0 10px #55C055);
}

.lvl03 #screen0,
.lvl04 #screen0 {
	filter: drop-shadow(0 0 10px #E5B92E);
}

.lvl03 #screen0,
.lvl03 .hovered,
.lvl04 #screen0,
.lvl04 .hovered {
	cursor: none;
}

body {
	background-color: #000;
	font-size: 16px;
	/* text-shadow: 0 0 20px rgba(255, 255, 255, 0.5); */
}

body.lvl01 {
	color: #ddd;
}

.lvl05 .screen {
	color: #fff;
}

body.lvl02 {
	color: #55C055;
}

body.lvl03,
body.lvl04 {
	background-color: #000;
	color: #E5B92E;
}
