.terminal #screen0 {
	margin-top: 50px;
}

.terminal .center {
	position: absolute;
	top: 0px;
	left: 50%;
	transform: translateX(-50%);
}

.terminal .screenBox {
	position: relative;
	width: 1080px;
	height: 972px;
	background-color: #e3e3e3;
	border-radius: 1%;
	left: 90px;
}

.terminal .frame {
	position: absolute;
	width: 1022.4px;
	height: 914.4px;
	background-color: #e3e3e3;
	left: 21.6px;
	top: 21.6px;
	border: 7.2px #888888 solid;
	border-radius: 1%;
}

.terminal .screenBox2 {
	position: absolute;
	width: 100%;
	height: 770.4px;
	background-color: #999999;
	border-bottom: 7.2px #888888 solid;
}

.terminal .screenBox3 {
	position: absolute;
	left: 28.8px;
	top: 28.8px;
	width: 964.8px;
	height: 712.8px;
	background-color: #7a7a7a;
	border-radius: 30%/2%;
}

.terminal .screenEffect {
	background: repeating-linear-gradient(to bottom, #171717, #171717 3.6px, #121212 3.6px, #121212 7.2px);
}

.terminal .terminalScreen {
	position: absolute;
	left: 21.6px;
	top: 21.6px;
	width: 921.6px;
	height: 669.6px;
	background-color: #171717;
	border-radius: 50%/8%;
	cursor: text;
}

.terminal .terminalScreen {
	background: radial-gradient(circle, rgba(23, 23, 23, 1) 20%, rgba(30, 30, 30, 1) 100%);
}

.terminal.lvl02 .terminalScreen {
	background: radial-gradient(circle, rgba(23, 23, 23, 1) 20%, rgba(38, 59, 2, 1) 100%);
}

.terminal.lvl03 .terminalScreen,
.terminal.lvl04 .terminalScreen {
	background: radial-gradient(circle, rgba(23, 23, 23, 1) 20%, rgba(39, 24, 7, 1) 100%);
}

.terminal.lvl03 .frame,
.terminal.lvl04 .frame {
	background-color: #555;
	border-color: #444;
}

.terminal.lvl03 .screenBox,
.terminal.lvl03 .screenBox2,
.terminal.lvl04 .screenBox,
.terminal.lvl04 .screenBox2 {
	background-color: #333;
}

.terminal.lvl03 .screenBox3,
.terminal.lvl04 .screenBox3 {
	background-color: #222;
}

.terminal .bottomFrame {
	position: absolute;
	background-color: #e3e3e3;
	width: 100%;
	height: 115.2px;
	bottom: 0px;
	border-top: 7.2px #888888 solid;
}

.terminal .fan {
	position: absolute;
	background: repeating-linear-gradient(to right, white, white 10.8px, #333333 10.8px, #333333 21.6px);
	width: 259.2px;
	height: 100%;
}

.terminal .logo {
	position: absolute;
	top: 0px;
	left: 468px;
	width: 115.2px;
}

.terminal .screenBox .powerButton {
	position: absolute;
	top: 18px;
	left: 900px;
	width: 72px;
	height: 72px;
	background-color: #999999;
	border: 3.6px #7a7a7a solid;
	cursor: pointer;
}

.terminal .powerIcon {
	position: absolute;
	border: 3.6px #555555 solid;
	top: 16.2px;
	left: 14.4px;
	width: 36px;
	height: 36px;
	border-radius: 50%;
}

.terminal .screenBox .powerLight {
	position: absolute;
	width: 21.6px;
	height: 21.6px;
	top: 46.8px;
	left: 828px;
	border-radius: 50%;
}

.terminal .lightOn {
	background-color: #1BCF60;
	filter: drop-shadow(0 0 12px #1BCF60);
}

.terminal .lightOff {
	background-color: #FA4646;
	filter: drop-shadow(0 0 12px #FA4646);
}

.terminal .screenFoot {
	position: relative;
	width: 990px;
	height: 54px;
	left: 133.2px;
	background-color: #7a7a7a;
	box-shadow: inset 0px 36px 21.6px 0px #222222;
}

.terminal .computer {
	position: relative;
	width: 1260px;
	height: 288px;
	background-color: #e3e3e3;
	border-radius: 10.8px;
}

.terminal .computerFrame {
	position: absolute;
	left: 21.6px;
	top: 21.6px;
	width: 1202.4px;
	height: 230.4px;
	border: 7.2px #888888 solid;
	border-radius: 10.8px;
}

.terminal .computerFan1,
.terminal .computerFan2 {
	position: absolute;
	background: repeating-linear-gradient(to right, white, white 10.8px, #333333 10.8px, #333333 21.6px);
	height: 77.4px;
	width: 288px;
	top: 25.2px;
	left: 18px;
}

.terminal .computerFan2 {
	top: 127.8px;
}

.terminal div[class^=screw] {
	position: absolute;
	width: 28.8px;
	height: 28.8px;
	background-color: #222222;
	border-radius: 50%;
}

.terminal .screw1 {
	left: 342px;
	top: 43.2px;
}

.terminal .screw2 {
	left: 342px;
	top: 151.2px;
}

.terminal .computerFrame2 {
	position: absolute;
	width: 468px;
	height: 165.6px;
	background-color: #999999;
	border: 7.2px #888888 solid;
	left: 414px;
	top: 25.2px;
	border-radius: 10.8px;
}

.terminal .floppy {
	position: absolute;
	width: 446.4px;
	height: 90px;
	left: 10.8px;
	top: 10.8px;
	background-color: #222222;
}

.terminal .fingerGrip {
	position: absolute;
	width: 108px;
	height: 82.8px;
	background-color: #0d0d0d;
	top: 3.6px;
	left: 169.2px;
	border-radius: 10.8px;
}

.terminal .slot {
	position: absolute;
	width: 95%;
	height: 18px;
	left: 2.5%;
	top: 32.4px;
	border-radius: 10.8px;
	background-color: black;
}

.terminal div[class^=socket] {
	position: absolute;
	width: 217.8px;
	height: 43.2px;
	background-color: black;
}

.terminal .socket1 {
	top: 111.6px;
	left: 10.8px;
}

.terminal .socket2 {
	top: 111.6px;
	left: 239.4px;
}

.terminal .screw3 {
	left: 954px;
	top: 43.2px;
}

.terminal .screw4 {
	left: 1036.8px;
	top: 43.2px;
}

.terminal .screw5 {
	left: 1126.8px;
	top: 43.2px;
}

.terminal .computer .powerButton {
	position: absolute;
	width: 126px;
	height: 93.6px;
	left: 954px;
	background-color: #333333;
	top: 108px;
}

.terminal .buttonSlide {
	position: absolute;
	width: 90%;
	height: 43.2px;
	left: 5%;
	top: 7.2px;
	background-color: #111111;
	border-radius: 3.6px;
}

.terminal .computerButton {
	position: absolute;
	width: 45%;
	height: 28.8px;
	top: 7.2px;
	background-color: #FA4646;
	cursor: pointer;
}

.terminal .computerButtonOff {
	left: 8%;
}

.terminal .computerButtonOn {
	left: 48%;
}

.terminal .offIndicator {
	position: absolute;
	width: 14.4px;
	height: 14.4px;
	top: 57.6px;
	left: 18px;
	border-radius: 50%;
	border: 3.6px white solid;
}

.terminal .onIndicator {
	position: absolute;
	width: 0px;
	height: 21.6px;
	top: 57.6px;
	left: 100.8px;
	border-right: 3.6px white solid;
}

.terminal .computer .powerLight {
	position: absolute;
	width: 21.6px;
	height: 21.6px;
	border-radius: 50%;
	left: 1134px;
	top: 136.8px;
}
